.logo-container {
    display: flex;
    z-index: 0;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: 15;
    margin: auto;
 

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        
    }

    .solid-logo {
        display: flex;
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 15%;
        margin: auto;
        width: 60%;
        opacity: .85;
        clear: inline-start;
        z-index: 1;
        border-radius: 50%;
        animation: fadeIn 4s 1.5s fadeOut 1s;
    animation-fill-mode: inherit;

    }
}

