.home-page {
    .text-zone {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: white;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;


        img {
            width: 50px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'sans-serif';
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: lightblue;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'sans-serif';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid lightblue;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: lightblue;
        color: #333;
    }
}
}

.profile {
    --img-size: 400px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
  }